|||
|---|---|
|Title|nwreadinglist|
|Author|numbworks|
|Version|4.0.0|
||Please check [docs/docs-nwreadinglist.md](../docs/docs-nwreadinglist.md) before proceeding.|

#### Global Modules

In [240]:
from typing import Optional
from nwpackageversions import LanguageChecker, RequirementChecker, RequirementSummary, LambdaCollection

#### Local Modules

In [241]:
from nwreadinglist import DefaultPathProvider, YearProvider, SettingBag, ComponentBag, ReadingListProcessor

#### Language/Requirement Checks

In [242]:
enable_language_status_check : bool = True
enable_requirement_status_check : bool = False

if enable_language_status_check:
    language_status : str = LanguageChecker().get_version_status(required = (3, 12, 5))
    print(language_status)

if enable_requirement_status_check:
    requirement_checker : RequirementChecker = RequirementChecker(logging_function = LambdaCollection().do_nothing_function())
    dockerfile_path : str = requirement_checker.get_default_devcointainer_dockerfile_path()
    requirement_status : Optional[RequirementSummary] = requirement_checker.try_check(file_path = dockerfile_path)
    print(requirement_status)

The installed Python version is matching the expected one (installed: '3.12.5', expected: '3.12.5').

#### Functions : Temp

#### Settings

In [243]:
setting_bag : SettingBag = SettingBag(
    options_rl = ["save"],
    options_rl_asrt = ["display", "log"],
    options_rl_by_kbsize = ["display"],
    options_sas = ["display", "save"],
    options_sas_by_publisher = ["display"],
    options_sas_by_rating = ["display"],
    options_sas_by_topic = ["display"],
    options_trend_by_year_topic = ["display"],
    read_years = YearProvider().get_all_years(),
    excel_path = DefaultPathProvider().get_default_reading_list_path(),
    excel_books_nrows = 308
)

#### Main : Analysis

In [244]:
reading_list_processor : ReadingListProcessor = ReadingListProcessor(component_bag = ComponentBag(), setting_bag = setting_bag)
reading_list_processor.initialize()
reading_list_processor.process_rl()

This content (id: 'rl') has been successfully saved as '/home/nwreadinglist/READINGLIST.md'.

In [245]:
reading_list_processor.process_rl_asrt()

|   Years |   Books |   Pages | TotalSpend   | LastUpdate   |
|--------:|--------:|--------:|:-------------|:-------------|
|       9 |     307 |   84121 | $8750.62     | 2024-11-10   |

In [246]:
reading_list_processor.process_rl_by_kbsize()

In [247]:
reading_list_processor.process_sas()

This content (id: 'sas') has been successfully saved as '/home/nwreadinglist/STUDYINGACTIVITY.md'.

In [248]:
reading_list_processor.process_sas_by_publisher()

In [249]:
reading_list_processor.process_sas_by_rating()

In [250]:
reading_list_processor.process_sas_by_topic()

In [251]:
reading_list_processor.process_trend_by_year_topic()