|||
|---|---|
|Title|nwreadinglistmanager|
|Author|numbworks|
|Version|2.1.0|
||Please check [docs/docs-nwreadinglistmanager.md](../docs/docs-nwreadinglistmanager.md) before proceeding.|

#### Setup

In [175]:
install_dependencies : bool = False

if install_dependencies:
    %pip install numpy==1.26.3
    %pip install pyarrow==15.0.0
    %pip install openpyxl==3.1.0
    %pip install pandas==2.2.0
    %pip install requests==2.31.0
    %pip install seaborn==0.13.1
    %pip install coverage==7.2.3
    %pip install parameterized==0.9.0
    %pip install tabulate==0.9.0
    %pip install sparklines==0.4.2

c:\Dropbox\Repositories\jupnb-nwreadinglistmanager\nwreadinglistmanager\src\nwreadinglistmanager.py:175: SyntaxWarning: invalid escape sequence '\.'
  '''

#### Global Modules

In [176]:
from datetime import datetime
from pandas import DataFrame

#### Local Modules

In [177]:
import nwreadinglistmanager as nwrlm
import nwcorecomponents as nwcc
from nwreadinglistmanager import SettingCollection

#### Python Version Check

In [178]:
nwcc.check_python_version(expected_version = (3, 12, 1))

The installed Python version matches the expected one (installed: '3.12.1', expected: '3.12.1').

#### Functions : Temp

#### Settings

In [179]:
setting_collection : SettingCollection = SettingCollection(
    read_years = [2016, 2017 , 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    excel_path = nwrlm.get_default_reading_list_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 261,
    excel_books_tabname = "Books",
    excel_null_value = "-",
    is_worth_min_books = 8,
    is_worth_min_avgrating = 2.50,
    n_generic = 5,
    n_by_month = 12,
    n_by_kbsize = 10,
    show_books_df = False,
    show_sas_by_month_upd_df = True,
    show_sas_by_year_street_price_df = True,
    show_cumulative_df = True,
    show_sas_by_topic_df = True,
    show_sas_by_publisher_df = False,
    show_sas_by_publisher_flt_df = True,
    show_sas_by_rating_df = True,
    last_update = datetime.now(),
    show_readme_md = True,
    show_reading_list_by_month_md = False,
    show_reading_list_by_publisher_md = False,
    show_reading_list_by_rating_md = False,
    show_reading_list_by_topic_md = False,
    show_reading_list_md = False,
    show_reading_list_topic_trend_md = False,
    formatted_rating = True,
    now  = datetime.now(),
    working_folder_path = "c:/Users/Rubèn/Desktop/",
    reading_list_by_month_file_name = "READINGLISTBYMONTH.md",
    reading_list_by_publisher_file_name = "READINGLISTBYPUBLISHER.md",
    reading_list_by_rating_file_name = "READINGLISTBYRATING.md",
    reading_list_by_topic_file_name = "READINGLISTBYTOPIC.md",
    reading_list_file_name = "READINGLIST.md",
    reading_list_topic_trend_file_name = "READINGLISTTOPICTREND.md",
    save_reading_lists_to_file = True,
    use_smaller_font_for_reading_list_md = True,
    use_smaller_font_for_reading_list_by_month_md = True,
    definitions = { 
        "KBSize": "This metric is the word count of the notes I took about a given book."
    },
    enable_sparklines_maximum = True,
    show_books_by_year_box_plot = False,
    show_sliced_by_kbsize_box_plot = False,
    show_sliced_by_kbsize_desc_df = True,
    show_sliced_by_kbsize_asc_df = True,
    show_yearly_trend_by_topic_df = True
)

#### Main : Analysis

In [180]:
books_df : DataFrame = nwrlm.get_books_dataset(setting_collection = setting_collection)

if setting_collection.show_books_df:
    display(books_df.head(n = setting_collection.n_generic))

In [181]:
sas_by_month_df : DataFrame = nwrlm.get_sas_by_month(books_df = books_df, read_years = setting_collection.read_years)
sas_by_month_upd_df = nwrlm.update_future_rs_to_empty(sas_by_month_df = sas_by_month_df , now = setting_collection.now)

if setting_collection.show_sas_by_month_upd_df:
    display(sas_by_month_upd_df.head(n = setting_collection.n_by_month))

,Month,2016,↕,2017,↕,2018,↕,2019,↕,2020,↕,2021,↕,2022,↕,2023,↕,2024
0,1,0 (0),↑,13 (5157),↓,0 (0),↑,4 (1061),↓,0 (0),=,0 (0),=,0 (0),=,0 (0),↑,3 (855)
1,2,0 (0),↑,1 (106),↓,0 (0),↑,13 (2991),↓,0 (0),↑,11 (1289),↓,0 (0),=,0 (0),=,0 (0)
2,3,0 (0),↑,16 (3816),↓,6 (600),↑,20 (3349),↓,0 (0),↑,2 (612),↓,0 (0),↑,1 (139),,
3,4,0 (0),↑,8 (2539),↓,7 (1986),↓,0 (0),↑,9 (2226),↓,0 (0),=,0 (0),=,0 (0),,
4,5,1 (288),↑,13 (3527),↓,0 (0),=,0 (0),=,0 (0),=,0 (0),=,0 (0),=,0 (0),,
5,6,8 (1734),↓,4 (788),↓,1 (24),↓,0 (0),=,0 (0),=,0 (0),=,0 (0),↑,8 (642),,
6,7,4 (1758),↓,3 (1140),=,3 (427),↓,2 (444),↓,0 (0),=,0 (0),=,0 (0),=,0 (0),,
7,8,2 (334),↓,1 (453),↓,0 (0),↑,2 (848),↓,0 (0),=,0 (0),=,0 (0),↑,4 (1170),,
8,9,4 (881),↓,3 (840),↓,0 (0),↑,1 (1259),↓,0 (0),=,0 (0),↑,1 (360),↑,9 (1969),,
9,10,2 (275),↓,0 (0),↑,6 (1201),↓,0 (0),↑,6 (1941),↓,0 (0),=,0 (0),=,0 (0),,
10,11,11 (4033),↓,0 (0),↑,10 (3172),↓,0 (0),↑,7 (2000),↓,0 (0),=,0 (0),=,0 (0),,
11,12,11 (3019),↓,0 (0),↑,15 (5236),↓,0 (0),↑,1 (435),↓,0 (0),=,0 (0),↑,3 (588),,

In [182]:
sas_by_year_street_price_df : DataFrame = nwrlm.get_sas_by_year_street_price(
    sas_by_month_df = sas_by_month_df, 
    books_df = books_df, 
    read_years = setting_collection.read_years
    )

if setting_collection.show_sas_by_year_street_price_df:
    display(sas_by_year_street_price_df.head(n = setting_collection.n_generic))

,2016,↕,2017,↕,2018,↕,2019,↕,2020,↕,2021,↕,2022,↕,2023,↕,2024
0,43 (12322),↑,62 (18366),↓,48 (12646),↓,42 (9952),↓,23 (6602),↓,13 (1901),↓,1 (360),↑,25 (4508),↓,3 (855)
1,$1447.14,↑,$2093.14,↓,$1249.15,↓,$748.70,↓,$538.75,↓,$169.92,↓,$49.99,↑,$594.80,↓,$132.47

In [183]:
cumulative_df : DataFrame = nwrlm.get_cumulative(books_df = books_df, last_update = setting_collection.last_update)

if setting_collection.show_cumulative_df:
    display(cumulative_df.head(n = setting_collection.n_generic))

  Years Books  Pages TotalSpend  LastUpdate
0     9   260  67512   $7024.06  2024-02-18

In [184]:
sas_by_topic_df : DataFrame = nwrlm.get_sas_by_topic(books_df = books_df)

if setting_collection.show_sas_by_topic_df:
    display(sas_by_topic_df.head(n = setting_collection.n_generic))

                             Topic  Books  Pages
0             Software Engineering     74  20290
1                               C#     56  16449
2  Data Analysis, Data Science, ML     32   8105
3    BI, Data Warehousing, PowerBI     21   6189
4                           Python     19   4385

In [185]:
sas_by_publisher_df : DataFrame = nwrlm.get_sas_by_publisher(books_df = books_df, setting_collection = setting_collection)

if setting_collection.show_sas_by_publisher_df:
    display(sas_by_publisher_df.head(n = setting_collection.n_generic))

In [186]:
sas_by_publisher_flt_df : DataFrame = nwrlm.filter_by_is_worth(sas_by_publisher_df = sas_by_publisher_df)

if setting_collection.show_sas_by_publisher_flt_df: 
    display(sas_by_publisher_flt_df.head(n = setting_collection.n_generic))

    Publisher  Books  AvgRating IsWorth
0  Syncfusion     38       2.55     Yes
1     Manning     11       2.91     Yes
2       Wiley      9       2.78     Yes

In [187]:
sas_by_rating_df : DataFrame = nwrlm.get_sas_by_rating(books_df = books_df, formatted_rating = setting_collection.formatted_rating)

if setting_collection.show_sas_by_rating_df:
    display(sas_by_rating_df.head(n = setting_collection.n_generic))

  Rating  Books
0  ★★★★★      9
1  ★★★★☆     19
2  ★★★☆☆     73
3  ★★☆☆☆     91
4  ★☆☆☆☆     68

In [188]:
if setting_collection.show_books_by_year_box_plot:
    nwcc.show_box_plot(df = books_df, x_name = "Year")

In [189]:
if setting_collection.show_sliced_by_kbsize_box_plot:
    sliced_by_kbsize_desc_df : DataFrame = nwrlm.slice_by_kbsize(books_df = books_df, ascending = False, remove_if_zero = False)
    nwcc.show_box_plot(df = sliced_by_kbsize_desc_df, x_name = "A4Sheets")

In [190]:
if setting_collection.show_sliced_by_kbsize_desc_df:
    sliced_by_kbsize_desc_df : DataFrame = nwrlm.slice_by_kbsize(books_df = books_df, ascending = False, remove_if_zero = True)
    sliced_by_kbsize_desc_df = nwcc.convert_index_to_one_based(df = sliced_by_kbsize_desc_df)
    sliced_by_kbsize_desc_df = sliced_by_kbsize_desc_df.head(n = setting_collection.n_by_kbsize)

    display(sliced_by_kbsize_desc_df)

,Title,ReadYear,Topic,Publisher,Rating,KBSize,A4Sheets
1,Machine Learning For Dummies,2017,"Data Analysis, Data Science, ML",Wiley,4,3732,8
2,Machine Learning Projects for .NET Developers,2017,"Data Analysis, Data Science, ML",Apress,4,3272,7
3,Producing Open Source Software,2016,Software Engineering,O'Reilly,2,2332,5
4,Microsoft SQL Server 2012 Integration Services,2019,"BI, Data Warehousing, PowerBI",Wiley,3,2320,5
5,Infrastructure As Code,2019,Development Tools,O'Reilly,4,2269,5
6,Microsoft Visual C# 2013 Step by Step,2016,C#,Microsoft Press,4,2179,5
7,Microservices in .NET Core,2019,C#,Manning,2,2016,5
8,Head First Design Patterns,2017,Software Engineering,O'Reilly,5,1753,4
9,Exam Ref 70-768 Developing SQL Data Models,2019,"BI, Data Warehousing, PowerBI",Pearson Education,5,1679,4
10,Algorithms An illustrated guide for programmer...,2017,Software Engineering,Manning,5,1650,4

In [191]:
if setting_collection.show_sliced_by_kbsize_asc_df:
    sliced_by_kbsize_asc_df : DataFrame = nwrlm.slice_by_kbsize(books_df = books_df, ascending = True, remove_if_zero = True)
    sliced_by_kbsize_asc_df = nwcc.convert_index_to_one_based(df = sliced_by_kbsize_asc_df)
    sliced_by_kbsize_asc_df = sliced_by_kbsize_asc_df.head(n = setting_collection.n_by_kbsize)

    display(sliced_by_kbsize_asc_df)

,Title,ReadYear,Topic,Publisher,Rating,KBSize,A4Sheets
1,PowerBi Succintly,2019,"BI, Data Warehousing, PowerBI",Syncfusion,1,6,1
2,"Firebug 1.5 Editing, Debugging, and Monitoring...",2016,"Data Analysis, Data Science, ML",Packt,1,8,1
3,Visual Studio 2015 Cookbook,2017,C#,Packt,2,18,1
4,Useful Python,2023,Python,SitePoint,2,19,1
5,Beginning Big Data with PowerBi and Excel 2013,2018,"BI, Data Warehousing, PowerBI",Apress,1,20,1
6,CSharp 5.0 In A Nutshell (5th Edition),2017,C#,O'Reilly,1,21,1
7,Dive Deep with Docker,2018,Docker,Self-Published,1,22,1
8,"Jenkins, Docker and DevOps: The Innovation Cat...",2021,Docker,Syncfusion,1,23,1
9,Why programmers work at night,2016,Software Engineering,Self-Published,1,25,1
10,LINQPad Succintly,2020,C#,Syncfusion,3,27,1

In [192]:
yt_by_topic_df : DataFrame = nwrlm.get_yearly_trend_by_topic(books_df = books_df, setting_collection = setting_collection)

if setting_collection.show_yearly_trend_by_topic_df:
    display(yt_by_topic_df)

                              Topic                           Books      Trend
0     BI, Data Warehousing, PowerBI    [0, 1, 9, 11, 0, 0, 0, 0, 0]  ▁▁▃▄▁▁▁▁▁
1                                C#  [10, 14, 4, 17, 8, 3, 0, 0, 0]  ▄▅▂▅▃▂▁▁▁
2                     Cloud Vendors     [0, 0, 0, 0, 0, 2, 0, 1, 0]  ▁▁▁▁▁▂▁▁▁
3   Data Analysis, Data Science, ML     [5, 5, 8, 5, 2, 0, 1, 6, 0]  ▂▂▃▂▂▁▁▃▁
4                 Development Tools     [6, 1, 0, 1, 2, 3, 0, 0, 0]  ▃▁▁▁▂▂▁▁▁
5                            Docker     [0, 1, 9, 0, 0, 2, 0, 0, 0]  ▁▁▃▁▁▂▁▁▁
6                  Electronics, IoT     [0, 4, 0, 0, 0, 0, 0, 0, 0]  ▁▂▁▁▁▁▁▁▁
7        Entrepreneurship, Learning     [0, 1, 0, 0, 4, 0, 0, 1, 0]  ▁▁▁▁▂▁▁▁▁
8                        Javascript     [0, 2, 0, 0, 0, 0, 0, 0, 0]  ▁▂▁▁▁▁▁▁▁
9                             Linux     [0, 0, 0, 1, 0, 0, 0, 0, 0]  ▁▁▁▁▁▁▁▁▁
10                          MariaDB     [0, 0, 4, 0, 0, 0, 0, 0, 0]  ▁▁▂▁▁▁▁▁▁
11                       Powershell     [0, 1, 0, 0, 3, 0, 0, 0, 0]  ▁▁▁▁▂▁▁▁▁
12                           Python    [1, 1, 0, 0, 1, 2, 0, 13, 1]  ▁▁▁▁▁▂▁▄▁
13              Regular Expressions     [0, 2, 0, 0, 0, 0, 0, 0, 0]  ▁▂▁▁▁▁▁▁▁
14                       SQL Server     [0, 2, 2, 2, 0, 1, 0, 0, 0]  ▁▂▂▂▁▁▁▁▁
15             Software Engineering  [21, 27, 12, 5, 3, 0, 0, 4, 2]  ▆█▄▂▂▁▁▂▂

#### Main : Markdown Files

In [193]:
nwrlm.process_readme_md(
    cumulative_df = cumulative_df, 
    setting_collection = setting_collection)

|   Years |   Books |   Pages | TotalSpend   | LastUpdate   |
|--------:|--------:|--------:|:-------------|:-------------|
|       9 |     260 |   67512 | $7024.06     | 2024-02-18   |

In [194]:
nwrlm.process_reading_list_by_month_md(
    sas_by_month_df = sas_by_month_upd_df, 
    sas_by_year_street_price_df = sas_by_year_street_price_df, 
    setting_collection = setting_collection)

In [195]:
nwrlm.process_reading_list_by_publisher_md(
    sas_by_publisher_flt_df = sas_by_publisher_flt_df, 
    sas_by_publisher_df = sas_by_publisher_df,
    setting_collection = setting_collection)

In [196]:
nwrlm.process_reading_list_by_rating_md(
    sas_by_rating_df = sas_by_rating_df, 
    setting_collection = setting_collection)

In [197]:
nwrlm.process_reading_list_by_topic_md(
    sas_by_topic_df = sas_by_topic_df, 
    setting_collection = setting_collection)

In [198]:
nwrlm.process_reading_list_md(
    books_df = books_df, 
    setting_collection = setting_collection)

In [199]:
nwrlm.process_reading_list_topic_trend_md(
    yt_by_topic_df = yt_by_topic_df, 
    setting_collection = setting_collection)